<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Mfeed</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/assets/modules/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="/assets/modules/summernote/summernote-bs4.css">
  <link rel="stylesheet" href="/assets/modules/owlcarousel2/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/components.css">
  <!-- Start GA -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-94034622-3');

  </script>
  <!-- /END GA -->
</head>

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5 mb-5">
        <div class="row">
          <div class="col-md-6 bg-primary" style="border-radius: 20px 0px 0px 20px;"></div>
          <div class="col-md-6">
            <div class="login-brand">
              <h2><span style="color: coral;">M</span>-feed</h2>
            </div>

            <div class="card card-primary">
              <div class="card-header">
                <h4>Sign Up</h4>
              </div>

              <div class="card-body">
                <form [formGroup]="form" (submit)="submit()" class="needs-validation" novalidate="">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input formControlName="username" id="name" type="text" class="form-control" name="username" tabindex="1" required autofocus placeholder="Enter your email">
                    <div class="invalid-feedback">
                     Enter your Username
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input formControlName="email" id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus placeholder="Enter your email">
                    <div class="invalid-feedback">
                     Enter your email
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Organisation</label>
                    <input formControlName="organisation" id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus placeholder="Enter your organisation name">
                    <div class="invalid-feedback">
                      Enter your organisation name
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="d-block">
                      <label for="password" class="control-label">Password</label>
                      
                    </div>
                    <input formControlName="password" id="password" type="password" class="form-control" name="password" tabindex="2" required placeholder="Enter your password">
                    <div class="invalid-feedback">
                      please fill in your password
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="d-block">
                      <label for="cpassword" class="control-label">Confirm Password</label>
                      
                    </div>
                    <input formControlName="cpassword" id="password" type="password" class="form-control" name="cpassword" tabindex="2" required placeholder="Enter your password">
                    <div class="invalid-feedback">
                      please fill in your password
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Sign Up
                    </button>
                    <!-- <a routerLink="/" class="btn btn-primary btn-lg btn-block">Sign Up</a> -->
                  </div>
                </form>
              </div>
            </div>
            <div class="simple-footer">
              Copyright &copy; M-Feed 2022
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


</body>

</html>
