<!-- Main Content -->
<div class="main-content">

  <section class="section">

    <div class="section-body">

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card card-statistic-2">

            <div class="card-icon shadow-primary bg-primary">
              <i class="fas fa-clipboard"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4>Surveys</h4>
              </div>
              <div class="card-body">
                32
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card card-statistic-2">
            <div class="card-icon shadow-primary bg-primary">
              <i class="fas fa-file-invoice"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4>Reports</h4>
              </div>
              <div class="card-body">
                7
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="card card-statistic-2">
            <!-- <div class="card-chart">
              <canvas id="sales-chart" height="80"></canvas>
            </div> -->
            <div class="card-icon shadow-primary bg-primary">
              <i class="fas fa-file-download"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4>Downloads</h4>
              </div>
              <div class="card-body">
                19
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Surveys</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="table-1">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Organisation</th>
                      <th>Responses</th>
                      <th>Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Android Track Feedback</td>
                      <td>Moringa School</td>

                      <td>2018</td>
                      <td>2018-01-20</td>
                      <td><a href="#" class="btn btn-primary">View</a></td>
                    </tr>
                    <tr>
                      <td>Android Track Feedback</td>
                      <td>Moringa School</td>

                      <td>2018</td>
                      <td>2018-04-10</td>
                      <td><a href="#" class="btn btn-primary">View</a></td>
                    </tr>
                    <tr>
                      <td>Android Track Feedback</td>
                      <td>Moringa School</td>

                      <td>2018</td>
                      <td>2018-01-29</td>
                      <td><a href="#" class="btn btn-primary">View</a></td>
                    </tr>
                    <tr>
                      <td>Android Track Feedback</td>
                      <td>Moringa School</td>

                      <td>2018</td>
                      <td>2018-01-16</td>
                      <td><a href="#" class="btn btn-primary">View</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
