<!-- side-nav -->

<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="/"><span style="color: coral;">M</span>-Feed</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="/"><span style="color: coral;">M</span>F</a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Dashboard</li>
      <li class="dropdown active">
        <a href="/" class="nav-link"><i class="fas fa-home"></i><span>Dashboard</span></a>
      </li>
      <li class="menu-header">Starter</li>
      <li><a class="nav-link" href="/surveys"><i class="fas fa-clipboard"></i> <span>Surveys</span></a>
      <li><a class="nav-link" href="#"><i class="fas fa-file-invoice"></i> <span>Reports</span></a>
      <li><a class="nav-link" href="#"><i class="fas fa-file-pdf"></i> <span>Shared</span></a>
      <li><a class="nav-link" href="#"><i class="fas fa-file-download"></i> <span>Downloads</span></a>
      </li>
      <li class="menu-header"></li>
      <li><a class="nav-link" href="#"><i class="fas fa-cog"></i> <span>Settings</span></a>
      
    </ul>


  </aside>
</div>

<!-- side-nav -->
